# ignore ALL files in ANY directory named temp
internal/
.venv
__pycache__/
.vscode/
neural_nets/saved_models/
neural_nets/saved_models_old/
dataset/preamp/27dB/random/venv/
.vscode/
__pycache__/
neural_nets/saved_models/
neural_nets/saved_models_old/
neuiral_nets/saved_models/encoder/predictions/graphs/
tmp_encoder_test_model/model.keras
